.details-main {
  padding: 2rem 0 4rem 0;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;

  /* gap: 5rem; */
  /* width: 96%; */
}

.details-card {
  border: 0.5px solid rgb(190, 190, 190);
  padding: 1rem;
  margin-bottom: 0.5rem;
  /* width: 100%; */
  transition: height 0.3s ease;
}

.details_card_h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  transition: height 0.3s ease;
  margin: 0px;
}

.details-card h5 {
  color: gray;
  font-weight: 500;
  margin: 0px;
}

.details-left {
  /* width: 48%; */
}
.details-right {
  width: 48%;
  display: flex;
  justify-content: center;
}

.details-right img {
  height: 400px;
  width: 400px;
  /* height: 40rem; */
  border-radius: 50%;
}

/* .details-card {
  width: 100%;
  transition: height 0.3s ease;
} */

.details-card h5 {
  margin-top: 0.5rem;
  overflow: hidden;
  height: 0;
}

.details-card h5.show {
  height: auto;
}

@media screen and (max-width: 990px) {
  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
  .details-right img {
    height: 22rem;
    border-radius: 50%;
  }
  .details-right img {
    height: 100%;
  }
  .details-left {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .details-right img {
    width: 100%;
  }
  .details_card_h3 {
    font-size: 18px;
  }
  .details {
    padding: 1rem 2rem;
  }

  .details-main {
    padding: 2rem 0 2rem 0;
  }
}

@media screen and (max-width: 500px) {
  .FaCircleMinus_icon {
    height: 16px;
  }
}
