.services {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

.services-main {
  max-width: 1140px;
  margin: 0 auto;
  height: 350px;
}
.services_image {
  width: 100%;
  object-fit: cover;
  transition: transform 2s;
  height: 220px !important;
}
.services_image:hover {
  transform: scale(1.1);
}

.webinar_card_icon_main {
  width: 70px;
  height: 70px;
  border-radius: 65px;
  background-color: var(--color_brand);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
}
.webinar_card_icon {
  width: 50px;
  height: 50px;
}

.card-s {
  overflow: hidden;
  flex: 1 1 350px;
  max-width: 400px;
  text-align: left;
  height: 415px;
  width: 345px !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px !important;
}

.card-s h4 {
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 500;
}

.card-s p {
  margin: 0px;
  font-size: 1.2rem;
}

.card-s h5 {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #484848;
}

.service_card_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 2.5rem !important;
}

@media screen and (max-width: 930px) {
  .services-main {
    padding: 0 1.4rem;
  }
}
@media screen and (max-width: 425px) {
  .card-s {
    width: 100% !important;
    height: 412px !important;
  }

  .card-s p{
    font-size: 14px !important;
  }
 
}
