.hero_main {
  height: 85vh;
  background: rgba(0, 0, 0, 0.6);
  /* backdrop-filter: blur(10px) !important; */
}

.homehero_main_div_bg {
  color: var(--color-white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .home_hero_contact_btn{
  border: 2px solid white;
  border-radius: 10px;
}
.home_hero_contact_btn:hover{
  border: 2px solid white;
  background: transparent;
} */

.light_color {
  width: 100%;
  height: 650px;
  left: 0px;
}
.hero_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.homehero_welcome {
  font-size: 40px;
  font-weight: 9000;
  align-items: flex-end;
  text-align: end;
}
.hero_content {
  display: flex;
  flex-direction: column;
  -webkit-gap: 2rem;
  gap: 2rem;
  /* padding-left: 3rem; */
  max-width: 70%;
  color: var(--color-black);
  align-items: center;
}

.hero_para {
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}

.homehero_slogan_line {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.head_hero {
  /* color: var(--color_brand); */
  color: #fff;
  /* max-width: 365px; */
  font-size: 28px;
}

.home_hero_img_main {
  display: none !important;
  height: 530px;
  display: flex;
  align-self: flex-end;
  filter: grayscale(1);
}

/* .model_sizing {
  width: 500px;
  padding: 20px;
}
 

.faq_services_inner {
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.35);
  padding: 1rem;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}

.faq-question {
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon_main {
  color: var(--color-brown);
  font-size: 25px;
  display: flex;
}  
  */

@media screen and (max-width: 1250px) {
  .home_hero_img_main {
    height: 400px;
  }
  .hero_content {
    padding-right: 2rem;
    padding-left: 2rem !important;
    max-width: 100%;
    align-items: center;
  }

  .hero_para {
    text-align: center;
  }

  .homehero_slogan_line {
    text-align: center;
    justify-content: center;
  }

  .homehero_welcome {
    text-align: center;
  }
  .homehero_welcome {
    font-size: 34px;
  }
}
@media screen and (max-width: 1000px) {
  .homehero_main_div_bg {
    flex-wrap: wrap;
     padding-top: 3rem;
    /* height: max-content; */
  }

  .hero_main {
    background-position: center;
    /* background: rgba(0, 0, 0, 0.8); */
  }
}
@media screen and (max-width: 650px) {
  .model_sizing {
    width: 400px;
  }

  .hero_content {
    max-width: 100%;
    padding-right: 2rem;
    padding-left: 2rem !important;
  }
}

@media screen and (max-width: 530px) {
  .model_sizing {
    width: 320px;
  }

  .hero_main {
    height: 100%;
  }

  .hero_content {
    padding: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .home_hero_img_main {
    height: 330px;
  }
}
