/* ._2QxqScDSDuK4P0ny7KZKNr a {
  display: none;
}

._1b3zzIo85pUJ3f_AHItArg {
  background-color: var(--color_brand2);
}

.jAN-uedtUK0ALBwN8-1Q0 {
  background: #1b4965;
} */

.MortgageCalc_main {
  padding: 2rem;
  margin: 2rem;
  border: 2px solid;
  border-radius: 10px;
}

.Calc_input_main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Form_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .MortgageCalc_main {
    padding: 1.5rem;
    margin: 1.5rem;
  }
}
