.privacy_para_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.privacy_para_inner {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.privacy-policy-subheading {
  margin-bottom: 5px;
}

.privacy-policy-subheading-txt {
  margin: 0;
}

.privacy {
  color: #fff;
  font-size: 22px;
  font-weight: 650;
}
