.testimonials {
  /* width: 134vw; */
  /* border: 1px solid black; */
  margin-top: 3rem;
  text-align: center;
  padding: 1rem;
}

.test-main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-test {
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  width: 20rem;
  max-width: 100%;
  padding: 1rem;
  border-radius: 5px;
  transition: transform 0.4s ease, box-shadow 0.4s ease,
    background-color 0.4s ease;
  cursor: pointer;
}

.card-test:hover {
  background-color: #003872;

  transform: translateY(-2%);
}

.card-test:hover h3,
.card-test:hover h4,
.card-test:hover p {
  color: white;
}

.card-test img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.card-test h4 {
  color: #003872;
}

.card-test h3 {
  color: rgb(47, 47, 47);
  font-weight: 500;
}

.card-test p {
  font-size: 15px;
}
